---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const SITE_TITLE = "Muhammad Ichwan | Offensive Security";
const SITE_DESCRIPTION = "OSCP+, OSCP, CEH Master, eWPTXv2 certified red teamer and penetration tester specializing in web, mobile, API, server, and network security.";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>

			<section>
				<h2>Muhammad Ichwan a.k.a Banua</h1>
				<h4>Offensive Security | Red Teamer</h4>
				<p>
					I specialize in offensive security and adversarial simulation.
					Experienced in conducting penetration testing across web, mobile,
					API, server, and network environments.
				</p>
				<p>
					My work also includes phishing campaign simulations and 
					source code analysis to identify real-world attack paths
					and security weaknesses.
				</p>
			</section>

			<hr />

			<!-- CERTIFICATION HIGHLIGHT -->
			<section>
				<h2>Certifications</h2>
				<ul>
					<li>OSCP+ – OffSec Certified Professional Plus</li>
					<li>OSCP – OffSec Certified Professional</li>
					<li>eWPTXv2 – Web Application Penetration Tester eXtreme</li>
					<li>CEH Master – Certified Ethical Hacker (Master)</li>
					<li>CEH Practical – Certified Ethical Hacker (Practical)</li>
					<li>CEH – Certified Ethical Hacker</li>
				</ul>
			</section>

			<hr />

			<!-- CONTACT / CTA -->
			<section>
				<h2>Work with Me</h2>
				<p>
					Available for freelance projects (penetration testing, security assessments,
					and red teaming engagements) or job offer.
				</p>
				<p>
					📍 +62 896-0946-0462  
				</p>
				<p>
					📧 muhammadichwan.pentester@gmail.com
				</p>
			</section>

		</main>
		<Footer />
	</body>
</html>